@import "../../../styles/variables.css";

footer{
    padding: 2%; 
    /* border: solid 1px #a5abb5; */
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
    text-align: center;
    margin-top: 60px;
    box-shadow: 0 4px 16px -4px var(--color-footer);
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-media > a{
    text-decoration: none;
    color: var(--color-button-secondary);
    font-weight: var(--font-weight-bold);
}