@import '../../../styles/variables.css'; 

.login-container{
    width: 40%;
    margin: 10px 30% 50px 30%;
}
.btn-logout, .btn-login {
    /* background-color: var(--color-btn-secondary); */
    border: none;
    /* border-radius: var(--border-radius); */
    color: white;
    font-family: var(--font-main);
    font-size: 16px;
    cursor: pointer;
    /* margin: 20px auto 20px auto; */
    display: block;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 23%; */
    margin-bottom: 30px;
}

.btn-logout:hover, .btn-login:hover {
    /* background-color: var(--color-text-secondary) !important; */
    /* transform: scale(1.05); */
    transition: all 300ms ease !important;
}


.btn-login {
    width: 100%;
}
.container-user, .container-password {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.container-user input, .container-password input{
    width: 100%;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--color-text-primary);
    /* margin-left: 10%; */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
}
/* .container-password input{
    margin-left: 7%;
} */
.span-login-info{
    font-family: var(--font-main);
    font-size: 14px;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);
    text-align: center;
    display: block;
    margin-top: 10px;
}

.span-login-error{
    font-family: var(--font-main);
    font-size: 14px;
    color: red;
    font-weight: var(--font-weight-regular);
    text-align: center;
    display: block;
}

.admin-flex{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.admin-user-container{
    display: flex;
    /* justify-content: space-between; */
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.order-data{
    margin-left: 25%;
}

.header-admin-user{
    margin-right: 10px;
    margin-top: 10px;
}

.user-data{
    border-right: solid 1px var(--color-background-category);
    padding-right: 10%;
}

.container-user label, .container-password label{
    font-family: var(--font-main);
    font-size: 17px;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    display: block;
}

.title-login{
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 1000px){
    .login-container{
        width: 70%;
        margin: 30px 15% 50px 15%;
    }

    .container-user input, .container-password input{
        width: 100%;
    }

    .admin-user-container{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .user-data{
        border-right: none;
        border-bottom: solid 1px var(--color-background-category);
        padding-right: 0;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .order-data{
        margin-left: 0;
    }
}