@import '../../../styles/variables.css'; 

.login-container{
    width: 50%;
    margin: 30px 25% 50px 25%;
}
.btn-logout, .btn-login {
    background-color: var(--color-background-category);
    border: none;
    /* border-radius: var(--border-radius); */
    color: white;
    font-family: var(--font-main);
    font-size: 16px;
    cursor: pointer;
    /* margin: 20px auto 20px auto; */
    display: block;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 23%; */
}

.btn-login {
    width: 100%;
}
.container-user, .container-password {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.container-user input, .container-password input{
    width: 87%;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--color-text-primary);
    margin-left: 10%;
    /* margin-right: 10px; */
    /* margin-top: 10px; */
}
.container-password input{
    margin-left: 7%;
}
.span-login-info{
    font-family: var(--font-main);
    font-size: 14px;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);
    text-align: center;
    display: block;
    margin-top: 10px;
}
.span-login-error{
    font-family: var(--font-main);
    font-size: 14px;
    color: red;
    font-weight: var(--font-weight-regular);
    text-align: center;
    display: block;
}

.admin-flex{
    display: flex;
    justify-content: flex-end;
}

.admin-user-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.header-admin-user{
    margin-right: 10px;
    margin-top: 10px;
}

.user-data{
    border-right: solid 1px var(--color-background-category);
    padding-right: 10%;
}