@import '../../styles/variables.css';

.items-products-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.product-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.product-detail-info{
    padding: 20px;
    background-color: #e5e7eb6a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.img-product-detail{
    width: 200px;
}

.img-product-detail:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.product-detail-info h2{
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    font-size: 18px;
}

.product-detail-info p{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-secondary);
    margin: 10px 0;
    text-transform: capitalize;
}

.price{
    font-size: 16px;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold) !important;
}

.category{
    font-size: 14px;
    font-weight: var(--font-weight-medium) !important;
    font-style: italic;
}