@import '../../styles/variables.css';

.items-products-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.product-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.product-detail-info{
    padding: 20px;
    background-color: #e5e7eb6a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.img-product-detail {
    width: 315px;
}

.img-product-detail:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.product-detail-info h2{
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    font-size: 18px;
}

.product-detail-info p{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-secondary);
    margin: 10px 0;
    text-transform: capitalize;
}

.price{
    font-size: 16px;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold) !important;
}

.category{
    font-size: 14px;
    font-weight: var(--font-weight-medium) !important;
    font-style: italic;
}

form > input, form textarea, form > select{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid var(--color-text-primary);
    border-radius: 4px;
}

form > button{
    background-color: var(--color-background-category);
    border: none;
    color: white;
    font-family: var(--font-main);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

form > button:hover{
    background-color: var(--color-primary);
    transition: background-color 0.3s ease;
}

form > label{
    font-family: var(--font-main);
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-medium);
}

.product-detail-info button {
    background-color: var(--color-btn-secondary) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    color: white !important;
    font-family: var(--font-main) !important;
    font-size: 16px !important;
    cursor: pointer !important;
    margin: 20px auto !important;
    display: block !important;
    padding: 8px 10px 10px 10px !important;
    width: 90% !important;
    box-shadow: none !important;
}

.product-detail-info button:hover {
    background-color: var(--color-text-secondary) !important;
    /* transform: scale(1.05); */
    transition: all 300ms ease !important;
}

.product-detail-info button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.product-detail-info button:active {
    background-color: var(--color-accent-yellow) !important;
    box-shadow: none !important;
}