@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --color-background-primary: #F9FAFB;
    --color-background-secondary: #E5E7EB;
    --color-background-category: #d5d6d9;
    --color-text-primary: #111827;
    --color-text-secondary: #4B5563;
    --color-primary: #2563EB; 
    --color-primary-var: #2564ebe6;
    --color-button-primary: #F97316; 
    --color-button-secondary: #10B981; 
    --color-accent-yellow: #F59E0B; 
    --color-accent-yellow-var: #ffcc00;
    --color-accent-purple: #A855F7; 
    --color-header: #4b556313;
    --color-background-footer: #777d86;
    
   /* Font */
    --font-main: 'Montserrat', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --subtitle-size: 20px;

    /* Border */
    --border-radius: 30px;
}