@import "../../../styles/variables.css";

button{
    background-color: var(--color-button-primary);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    font-family: var(--font-main);
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto 20px auto;
    display: block;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
}

button:hover{
    background-color: var(--color-accent-yellow);
    transition: all 300ms ease;
}