@import "../../../styles/variables.css";

button.btn {
    background-color: var(--color-button-primary) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    color: white !important;
    font-family: var(--font-main) !important;
    font-size: 16px !important;
    cursor: pointer !important;
    margin: 20px auto !important;
    display: block !important;
    padding: 8px 10px 10px 10px !important;
    width: 90% !important;
    box-shadow: none !important;
}

button.btn:hover {
    background-color: var(--color-accent-yellow) !important;
    /* transform: scale(1.05); */
    transition: all 300ms ease !important;
}

button.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

button.btn:active {
    background-color: var(--color-accent-yellow) !important;
    box-shadow: none !important;
}