@import "../../../styles/variables.css";

header{
    padding: auto; 
    padding-left: 16%;
    padding-right: 13%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    background-color: var(--color-background-primary);
    z-index: 100;
    box-shadow: 0 4px 16px -4px var(--color-header);
}

header > nav > ul{
    display: flex; 
    margin-top: 30px; 
    justify-content: space-around;
}

header > nav > ul > li {
    padding-right: 30px;
}

header nav ul li a, header nav ul li a:visited { 
    text-decoration: none;
    font-family: var(--font-main);
    color: var(--color-text-secondary); 
    transition: color 150ms ease; 
    font-size: 16px;
    /* text-transform: uppercase; */
    font-weight: 600;
}

header nav ul li a:hover { 
    color: var(--color-text-primary); 
}

.logo-container h1{
    display: flex;
    margin-left: -20px;
}

.logo{
    margin-top: 25px; 
    margin-bottom: 20px;
    color: var(--color-primary-var);
    font-family: var(--font-main);
    font-size: 25px; 
    font-weight: bold;
}
.logo p{
    color: var(--color-text-secondary);
    font-family: var(--font-main);
    font-weight: 500;
    border-bottom: 1px solid #4B5563;
}

.shopping-cart{
    width: 28px;
    height: 28px;
    margin-top: -3px;
}

.shopping-cart:hover{
    transform: scale(1.1);
    transition: transform 150ms ease;
}

.search-container{
    width: 90%;
    margin-top: 15px; 
    display: grid;
    grid-template-columns: 85% 15%;
}

header > .search-container > input{
    width: 87%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-text-primary);
    margin-left: 10%;
    margin-right: 10px;
    margin-top: 10px;
}

.search-container > div{ 
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
}

.img-search{
    width: 30px;
    cursor: pointer;
}

.active-link{
    font-weight: bold;
    border-bottom: 1px solid black;
}