@import "../../../styles/variables.css";

header{
    padding: auto; 
    padding-left: 16%;
    padding-right: 13%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    background-color: var(--color-background-primary);
    z-index: 100;
    box-shadow: 0 4px 16px -4px var(--color-header);
}

header > nav > ul{
    display: flex; 
    margin-top: 30px; 
    justify-content: space-around;
}

header > nav > ul > li {
    padding-right: 30px;
}

header nav ul li a,
header nav ul li a:visited { 
    text-decoration: none;
    font-family: var(--font-main);
    color: var(--color-text-secondary); 
    transition: color 150ms ease; 
    font-size: 16px;
    font-weight: 600;
}

header nav ul li a:hover { 
    color: var(--color-text-primary); 
}

.logo-container h1{
    display: flex;
    margin-left: -20px;
}

.logo-container > a{
    text-decoration: none;
}

.logo{
    margin-top: 25px; 
    margin-bottom: 20px;
    color: var(--color-primary-var);
    font-family: var(--font-main);
    font-size: 25px; 
    font-weight: bold;
}

.logo p{
    color: var(--color-text-secondary);
    font-family: var(--font-main);
    font-weight: 500;
    border-bottom: 1px solid #4B5563;
}

.shopping-cart{
    width: 28px;
    height: 28px;
    margin-top: -3px;
    margin-left: -10px;
}

.shopping-cart:hover{
    transform: scale(1.1);
    transition: transform 150ms ease;
}

.search-container{
    width: 90%;
    margin-top: 18px; 
    display: flex;
    justify-content: flex-end;
}

header > .search-container > input{
    width: 50%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--color-text-primary);
    margin-right: 10px;
    margin-top: 10px;
    margin-left: auto;
}

.active-link{
    font-weight: bold;
    border-bottom: 1px solid black;
}


/*   Menu hamburguesa   */

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 18px;
    z-index: 200;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--color-text-secondary);
    transition: all 0.3s ease;
}

/* animación cuando está abierto */
.hamburger .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line.open:nth-child(2) {
    opacity: 0;
}

.hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.icons-container{
    display: flex; 
    margin-top: 30px; 
    justify-content: space-around;
    gap: 25px;
}

.icons-container > li:last-child{
    margin-top: 1px; 
}



/* NAV MOBILE */
@media (max-width: 1000px) {
    .hamburguericons{
        margin-left: 80%;
        padding-right: 40px;
    }
    nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: var(--color-background-primary);
        padding: 20px 0;
        display: none;
        box-shadow: 0 4px 16px -4px var(--color-header);
    }

    nav.open {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 0;
        padding: 0;
    }

    header {
        padding-left: 20px;
        /* padding-right: 20px; */
        /* justify-content: space-between; */
        justify-content: flex-start;
    }
    .logo-container {
        margin-left: 46px;
    }

    .search-container {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 873px) {
    .hamburguericons{
        margin-left: 70%;
    }
}

@media (max-width: 651px) {
    .hamburguericons{
        margin-left: 60%;
    }
}

@media (max-width: 495px) {
    .hamburguericons{
        margin-left: 45%;
    }
}

@media (max-width: 423px) {
    .hamburguericons{
        margin-left: 30%;
    }
}