@import '../../styles/variables.css';

.cart{
    width: 360px;
    height: auto;
    background-color: var(--color-background-primary);
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius); 
    box-shadow: 0 4px 16px -4px var(--color-text-secondary);
    margin-top: 30px;
    position: fixed;
    top:7%;
    right: 18%;
    z-index: 9999;
}

.cart h2, .cart p{
    text-align: center;
    padding: 10px 10px;
}

.cart h2{
    
    font-family: var(--font-secondary);
    font-size: 15px;
    font-weight: var(--font-weight-medium);
}

.mb20{
    margin-bottom: 20px;
}

.cart p{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
}

.cart-product{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 0fr 0fr 0fr;
    padding-left: 10px;
    margin-top: 10px;
}

.img-cart{
    width: 30px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}


.title-cart{
    margin-left: -30px;
}

.price-cart{
    margin-left: -19px;
    padding-top: 10px;
}

.quantity-cart{
    margin-right: 10px;
}

.btn-cart {
    width: 30px;
    height: 35px;
    background-color: var(--color-background-footer) !important;
    border-radius: 10% !important;
    text-align: center;
    margin-left: 1px;
    margin-top: 0px;
    border: none !important;
    color: white !important;
    cursor: pointer !important;
    font-weight: bold;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart:hover {
    background-color: var(--color-accent-yellow) !important;
    transition: all 300ms ease;
}

.btn-cart:active {
    background-color: var(--color-accent-yellow) !important;
    box-shadow: none !important;
}

.btn-cart:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-cart:last-child {
    margin-right: 10px;
}

.grid-cart{
    /* width: 90%;
    margin-top: 15px;  */
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid var(--color-text-secondary);
}

.img-cancelar{
    width: 25px;
    padding-top: 7px;
    cursor: pointer;
}

.grid-cart > h2 {
    padding-left: 50px;
}

.items-cart-container{
    max-height: 300px;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .cart{
        right: 5%;
    }

    .shoppingCart-container {
        width: 100%;
        margin: 30px 0% 50px 0%;
    }
    .shoppingCart-button {
        width: 100%;
        margin: 50px 0% 0px 0%;
    }   
    .grid-cart {
        grid-template-columns: 80% 10%;
    }
}

@media (max-width: 600px) {
    .cart{
        width: 100%;
        right: 0%;
    }
}