@import '../../styles/variables.css';

.cart{
    width: 360px;
    height: auto;
    background-color: var(--color-background-primary);
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius); 
    box-shadow: 0 4px 16px -4px var(--color-text-secondary);
    margin-top: 30px;
    position: fixed;
    top:4%;
    right: 18%;
    z-index: 9999;
}

.cart h2, .cart p{
    text-align: center;
    padding: 10px 10px;
}

.cart h2{
    
    font-family: var(--font-secondary);
    font-size: 15px;
    font-weight: var(--font-weight-medium);
}

.mb20{
    margin-bottom: 20px;
}

.cart p{
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
}

.cart-product{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 0fr 0fr 0fr;
    padding-left: 10px;
    margin-top: 10px;
}

.img-cart{
    width: 30px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}


.title-cart{
    margin-left: -30px;
}

.price-cart{
    margin-left: -19px;
    padding-top: 10px;
}

.quantity-cart{
    margin-right: 10px;
}

.btn-cart{
    width: 30px;
    height: 35px;
    background-color: var(--color-background-footer);
    border-radius: 10%;
    text-align: center;
    margin-left: 1px;
    margin-top: 0px;
}

.btn-cart:last-child{
    margin-right: 10px;
}

.grid-cart{
    /* width: 90%;
    margin-top: 15px;  */
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid var(--color-text-secondary);
}

.img-cancelar{
    width: 25px;
    padding-top: 7px;
    cursor: pointer;
}

.grid-cart > h2 {
    padding-left: 50px;
}

.items-cart-container{
    max-height: 300px;
    overflow-y: auto;
}